---
import { getCollection } from 'astro:content';
import BlogLayout from '../../layouts/BlogLayout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post }
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---
<BlogLayout title={post.data.title} jumboImage="/assets/cyclist-tent-bike.png">
  <main>
    <article class="cyclenomad-article">
      <h1>{post.data.title}</h1>
      <p><em>{post.data.date}</em></p>
      <Content />
    </article>
  </main>
</BlogLayout>
