<html>
  <body>
    <h1>My Dev + Cycling Setup</h1>
    <ul>
      <li>Framework Carbon Gravel Bike</li>
      <li>Anker 21W Solar Panel</li>
      <li>Foldable Bluetooth Keyboard</li>
      <li>MacBook Air + GitHub Copilot</li>
    </ul>
  </body>
</html>