---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
const posts = await getCollection('blog');
---
<BaseLayout title="Home" jumboImage="/assets/cyclist-tent-bike.png">
  <main>
    <h1>Welcome to PedalStack.dev</h1>
    <section class="blog-tiles">
      {posts.map(post => (
        <article class="blog-tile">
          <h2><a href={`/blog/${post.slug}/`}>{post.data.title}</a></h2>
          <p>{post.data.description}</p>
        </article>
      ))}
    </section>
  </main>
</BaseLayout>