
---
import { getCollection } from 'astro:content';
const posts = await getCollection('blog');
---
<html>
  <body>
    <h1>Welcome to PedalStack.dev</h1>
    <ul>
      {posts.map(post => (
        <li><a href={`/blog/${post.slug}/`}>{post.data.title}</a></li>
      ))}
    </ul>
  </body>
</html>