---
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title ? `${title} | PedalStack.dev` : 'PedalStack.dev'}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/cyclenomad.css">
  </head>
  <body>
    <header  class="cyclenomad-header >
     <a href="/"><img src="/src/assets/cyclist-tent-bike.png" alt="Cyclist sitting in front of a tent with a bike" /></a>
    </header>
    <main>
      <slot />
    </main>
    <footer>© 2025 PedalStack.dev</footer>
  </body>
</html>