---
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title ? `${title} | PedalStack.dev` : 'PedalStack.dev'}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header><a href="/">PedalStack.dev</a></header>
    <main>
      <slot />
    </main>
    <footer>© 2025 PedalStack.dev</footer>
  </body>
</html>